.App footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 10px;
}
body {
  background: url("/src/images/hogwarts-background.png");
}
h1 {
  font-size: 25px;
  font-weight: 800;
  color: #b8860b;
  text-align-last: center;
}

h3 {
  font-size: 18px;
  text-align-last: center;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
