body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 10px;
}
body {
  background: url("/src/images/hogwarts-background.png");
}

h1 {
  font-size: 30px;
  font-weight: 800;
  color: #b22222;
  text-align-last: left;
  margin-top: 50px;
  margin-left: 10px;
  text-decoration-line: underline;
}

p {
  font-size: 18px;
  text-align-last: left;
  color: black;
  margin-left: 10px;
}

body {
  margin: 0;
  font-family: "Monotype Corsiva", "Apple Chancery", "ITC Zapf Chancery",
    "URW Chancery L", cursive;
}

img {
  position: fixed;
  left: 50%;
  padding: 5px;
  width: 150px;
}
